<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
  <meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icons/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/icons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/icons/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/img/icons/manifest.json' | relative_url }}">
  <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico"><![endif]-->
  <link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico' | relative_url }}">
  <meta name="apple-mobile-web-app-title" content="Animepediaku">
  <meta name="application-name" content="Animepediaku">
  <meta name="msapplication-config" content="{{ '/assets/img/icons/browserconfig.xml?v=qA3OXqyw77' | relative_url }}">
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="{{ '/' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | relative_url }}" />


  {% if site.google_tag_manager %}

    {% include gtm.html %}

  {% endif %}

  <style class="inlineCSS">

    {% include critical.css %}

  </style>
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>
  <script type="text/javascript">
   {% include loadCss.js %}
  </script>
</head>
